<%- layout('layouts/main.ejs') %>
<div class="cuerpo_productos">
    <div class="contenedor_agregar_articulo">
        <div class="header_agregar_articulo">
            <h3>
                Agregar un producto nuevo
            </h3>
        </div>
        <form class="formulario_agregar_articulo" method="post" action="/agregar_articulo">
            <div class="formmato_asd">
                <label for="">Nombre del articulo:</label><input type="text" name="nombre_articulo" name="nombre_articulo" required class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="">Color del articulo:</label><input type="text" name="color" required class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="">Número de piezas:</label><input type="number" name="numpiezas" required class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="">Tamaño:</label><input type="text" name="tamano" required class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="">Talla:</label><input type="text" name="talla" required class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="">Descripción:</label><input type="text" required name="descripcion" class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
               <label for="">Fabricante:</label><input type="text" required name="fabricante" class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="">Material:</label><input type="text" required name="material" class="input_agregar_producto">
            </div>
            <div class="formmato_asd">
                <label for="cate">Categoría:</label>
                <select name="categoria" class="input_agregar_producto" id="cate">
                    <option value="">Jeans</option>
                    <option value="">Playeras</option>
                    <option value="">Sudaderas</option>
                    <option value="">Chamarras</option>
                    <option value="">Pants</option>
                    <option value="">Accesorios</option>
                </select>
            </div>
            <div class="formmato_asd">
                <label for="">Imagen del producto:</label><input name="imagen" type="file">
            </div>
            <div class="formmato_asd">
                <button type="submit">Agregar</button>
            </div>
               
        </form>
    </div>
    <div class="cuerpo_de_articulos_guardados">
        <% Articulo.forEach(function(articulo){ %>
        <div class="tarjeta_articulo">
            <div class="imagen_articulo">

            </div>
            <div class="datos_del_articulo">
                <p>Nombre: <%= articulo.nombre_articulo %></p>
                <p>Tamaño: <%= articulo.tamano %></p>
                <p>Descripcion: <%= articulo.descripcion %></p>
                <p>Talla: <%= articulo.talla %></p>
                <p>Fabricante: <%= articulo.fabricante%></p>
                <p>Color: <%= articulo.color%></p>
                <p>Numero de piezas: <%= articulo.numpiezas%></p>
                <p><%= articulo._id%></p>
            </div>
            <div class="footer_del_articulo">
                <a href="/editar_articulo/<%= articulo._id%>" class="button_edit"> <span class="material-symbols-outlined">edit</span> </a>
                <a href="/delete_articulo/<%= articulo._id%>" class="button_delete"><span class="material-symbols-outlined">delete</span> </a>
            </div>
            
        </div> 
        <% }); %>
    </div>
    
</div>