<%- layout('layouts/main.ejs') %>
<div class="imagen_principal">

    <div class="contenedor_menu">
        <div class="menu_posicionizquierda">
            <ul>
                <li class="letrasmenu_izquierdo"><a href="">jeans</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Playeras</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Sudaderas</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Chamarras</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Pants</a></li>
                <li class="letrasmenu_izquierdo"><a href="">Accesorios</a></li>
            </ul>
        </div>

        <div class="menu_posicionderecha">
            <div class="posderecha_iniciar">
                <% if(!user){ %>
                <h3>Crear cuenta de usuario</h3>
                <a href="">crear cuenta</a>
                <% } %>
            </div>
            <div class="posderecha_colaborador">
                <% if(!user) { %>
                <h3>Crear cuenta de colaborador</h3>
                <a href="">crear cuenta de colaborador</a>
                <% } %>
            </div>
        </div>
    </div>

</div>

<div class="cuerpo_index">
    <div class="cuerpo_tarjetas">
        <% Articulo.forEach(function(articulo){ %>
            
            <form action="/agregar_carrito" class="tarjeta_articulo_venta" method="post">
                <div class="imagen_tarjeta_venta">
                    <img src="" alt="imagen de venta">
                </div>
                <div class="informacion_tarjeta_venta">

                    <h3><%= articulo.nombre_articulo %></h3>
                    <input type="text" hidden name="nombre_articulo" value="<%= articulo.nombre_articulo %>">
                    <p><%= articulo.descripcion %></p>
                    <input type="text" hidden name="descripcion" value="<%= articulo.descripcion %>">
                    <p><%= articulo.color%></p>
                    <input type="text" hidden name="cantidad" value="<%=articulo.numpiezas%>">
                </div>
                <div class="botones_tarjeta_venta">
                    
                        <% if(user){ %>
                        <button type="submit">Agregar al carrito</button>
                        <% } %>
                    
                    <% if(!user){ %>
                        <a href="/signup"><button>Iniciar sesión</button></a>
                    <%} %>
                </div>
            </form>
               
            <% }) %>
    </div>
    
</div>

